.container{
    text-align: center;
    margin: auto;
    /* background-color: rgb(180, 34, 34);
    border-radius: 10px;
    */
}
table{
    margin: auto;
    border-radius: 10px;
    border-spacing: 8px;
}
input{
    font-size: 45px;
    border-radius: 10px;
}
button{
    font-size: 45px;
    background-color: rgb(31, 161, 165);
    width: 130px;
    height: 65;
    border-radius: 10px;
}
.calculator{
    display: inline-block;
    background-color: rgb(39, 92, 105);
    padding: 23px;
    border-radius: 30px;
    border: 4px solid black;
}